body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h1 {
    color: red;
    text-align: center;
}

.title_desc {
    overflow: hidden;
    background-color: rgb(195, 183, 126);
    text-align: center;
}

.title_desc ul li {
    size: 10%;
    display: inline;
    padding: 10px;
}
