@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background: rgb(16,24,32);
    background: linear-gradient(180deg, rgba(16,24,32,1) 0%, rgb(1, 72, 113) 50%, rgb(2, 140, 221) 100%); */
    background-image: url("pictures/background_img.png");
    background-size: cover;
    animation-name: fadeIn;
    animation-duration: 5s;
}

p {
    font-size: 20px;
}

.v {
    color: white;
}

.nav_list {
    overflow: hidden;
    padding-left: 3%;
}
  
.nav_list a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav_list element {
    padding: 50px;
    padding-left: 50px;
    display: inline;
}

.h1 {
    text-align: center;
    color: white;
}

.desc {
    margin-left: 40%;
    width: 40%;
    border: 2px solid white;
    background-color: rgb(254,231,21);
    border-radius: 20px;
    text-align: center;
}

.intro {
    margin-left: 15%;
    width: 40%;
    border: 2px solid white;
    background-color: rgb(254,231,21);
    border-radius: 20px;
    text-align: center;
}

.skills {
    margin-left: 40%;
    width: 40%;
    border: 2px solid white;
    background-color: rgb(254,231,21);
    height: auto;
    border-radius: 20px;
    text-align: center;
}

.education {
    margin-left: 15%;
    padding-left: 20px;
    padding-right: 20px;
    width: 40%;
    border: 2px solid white;
    background-color: rgb(254,231,21);
    height: auto;
    border-radius: 20px;
    text-align: center;
}

.updates {
    margin-left: 40%;
    width: 40%;
    border: 2px solid white;
    background-color: rgb(254,231,21);
    height: auto;
    border-radius: 20px;
    text-align: center;
}

.live {
    margin-left: 15%;
    width: 40%;
    color: rgb(198, 0, 0);
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(254,231,21);
    text-align: center;
}

.contact {
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(254,231,21);
    margin: auto;
    width: 40%;
    margin-top: auto;
    text-align: center;
}