body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(16,24,32);
}

.h1 {
    text-align: center;
    color: white;
}

.title_desc {
    overflow: hidden;
    background-color: rgb(254,231,21);
    text-align: center;
}

.title_desc ul li {
    size: 10%;
    display: block;
    padding: 10px;
}

.works {
    overflow: hidden;
    background-color: rgb(254,231,21);
    text-align: center;
}

.works ul li {
    size: 10%;
    display: block;
    padding: 10px;
}
