body {
    font-family:'Times New Roman', Times, serif;
    background: rgb(16,24,32);
    background: linear-gradient(180deg, rgba(16,24,32,1) 0%, rgba(4,88,136,1) 50%, rgba(0,161,251,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 20px;
}

.v {
    color: azure;
}

.nav_list {
    overflow: hidden;
    padding-left: 3%;
}
  
.nav_list a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav_list element {
    padding: 50px;
    padding-left: 50px;
    display: inline;
}

.h1 {
    text-align: center;
    color: white;
    font-size: 3em;
}

.desc {
    width: 60%;
    margin: auto;
    border: 2px solid white;
    background-color: rgb(254,231,21);
    border-radius: 20px;
    text-align: center;
}

.theDesigns {
    box-shadow: 0px 0px 20px 5px rgb(255, 255, 20);
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
    padding: 20px 20px 20px 20px;
}

.theDesigns img {
    border-radius: 20px;
}

.theDesigns video {
    border-radius: 20px;
}

@media screen and (max-width: 1100px) {
    .desc {
        width: 100%;
    }

    .theDesigns {
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    video {
        width: 100%;
        height: 100%;
    }
}